.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




.web-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(223, 130, 130, 0.568);
}

.page-title {
  color: white;
}

.web-title, .login{
  margin: 2vw;
  font-size: 2.7vmin;
  border-radius: 0.4em;
  border-width: 0.4em;
  border-style: outset;
  color: white;
  background-color: #ffa500;
  border-color: #e39400;
}

.web-title:hover, .login:hover {
  background-color: #e39400;
  border-color: #d48a00;
}

.web-title:active, .login:active {
  border-style: inset;
  transform: translateY(2px);
}
